<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>5.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>ai.lava.demoapp.ios</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>lavademo</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>3</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>fe6363c5a03dcd9dfdbcc8b96fff7b957add89d1</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>Lava</key>
	<dict>
		<key>DefaultEnvironment</key>
		<string>CCDevelopment</string>
		<key>Environments</key>
		<dict>
			<key>CCDevelopment</key>
			<dict>
				<key>AppId</key>
				<string>2</string>
				<key>AppKey</key>
				<string>42b64ab5-3d8b-4569-94ea-c0a7d0d4e7f2</string>
				<key>ClientId</key>
				<string>fc655d66-0515-4c19-b3ee-e4ccf4b6908d</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
			<key>Demo Production</key>
			<dict>
				<key>AppId</key>
				<string>1</string>
				<key>AppKey</key>
				<string>7b44ff75-bff0-4010-b450-34e6632493f3</string>
				<key>ClientId</key>
				<string>6ed8b0bd-3b2e-48b9-9d9a-16255f9209c2</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
			<key>Detroit Lions</key>
			<dict>
				<key>AppId</key>
				<string>1</string>
				<key>AppKey</key>
				<string>d4ca18f5-fc3c-401a-b22b-560d29dfa928</string>
				<key>ClientId</key>
				<string>3a369fa4-76b4-4969-aaee-2774ae448b2b</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
			<key>Falcons</key>
			<dict>
				<key>AppId</key>
				<string>11</string>
				<key>AppKey</key>
				<string>03aae3c3-c853-4496-b4f7-f11268335e48</string>
				<key>ClientId</key>
				<string>0f4d79a1-63ed-4b20-9eb5-1fbabf2f450b</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
			<key>KingsBeta</key>
			<dict>
				<key>AppId</key>
				<string>11</string>
				<key>AppKey</key>
				<string>234d32e8-9640-41d7-9086-2b13421b4f0f</string>
				<key>ClientId</key>
				<string>1c5fff45-32fc-46b2-a0ad-7e65eff59162</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
			<key>KingsProd</key>
			<dict>
				<key>AppId</key>
				<string>4</string>
				<key>AppKey</key>
				<string>f7fd6402-1c87-427a-88b7-ae3ca46411eb</string>
				<key>ClientId</key>
				<string>8f81ccbc-49af-4614-b185-16420dc67c12</string>
				<key>Domain</key>
				<string>lava.ai</string>
			</dict>
		</dict>
		<key>FacebookAppId</key>
		<string>1697866643759078</string>
	</dict>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Capture and add photo to your profile so that it is easily identified.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Allow access to save photo in your photo library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Adding photo makes it easy to identify your profile.</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>Launch Screen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
